---
import Coursework from "../../layouts/Coursework.astro"
---
<Coursework>
    <h1>AP Computer Science Principals Coursework Archive</h1>
    <p>
        This page contains an index of all coursework and information for this class. All information is assinged a 3 digit alpha-numeric code for ease of lookup. The fist digit indicates the unit numer, the second digit indicates the section number, and the final digit indicates the lesson or assignment number. Codes corrisponding to lesson information end in a number, and codes corrisponding to assignment or assessment information ends in a letter. This scheme is consistant across all mediums associated with this course, as to minimise confusion related to naming. To find needed content, use the menu to the side of this text. It has been orginised in the same matter as these sequence numbers.
    </p>
</Coursework>