@font-face {
    font-family: plexsans;
    src: url(IBMPlexSans-Regular.woff2);
  }
  @font-face {
    font-family: plexmono;
    src: url(IBMPlexMono-Regular.woff2);
  }
  @font-face {
    font-family: "ibm-term";
    src: url(3270-Regular.woff2);
  }