---
import Topmenu from '../components/Topmenu.astro';
import '../styles/fonts.css';
import HighCatDD from '../components/HighCatDD.astro';
---

<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<script>
        var cursor = true;
        var speed = 500;
        setInterval(() => {
          if(cursor) {
            document.getElementById('cursor').style.opacity = "0";
            cursor = false;
          }else {
            document.getElementById('cursor').style.opacity = "1";
            cursor = true;
          }
        }, speed);
    </script>
</head>
<body style="height: 100vh; width: 100vw; margin: 0; padding: 0; background-color: white">
	<Topmenu></Topmenu>
	<div class="homepage-wrapper">
		<div class="site-intro">
			<h2>About Me<span id="cursor">_</span></h2>
			<p> I am a high school student currently residing in New York, with a strong passion for computers and programming.
                This site exists primarly to document the projects and work that I have done over the last 5 years with my
                server cluster and mainframe. <br><br>
                If you would like to contact me, you can reach me at any of the following locations:<br>
                Phone: (845)248-8078<br>
                E-Mail: enzo@enterpriselab.dev

			</p>
		</div>
		<div class="menu">
			<!--<HighCatDD level="1" cat="mainframe" />-->
		</div>
	</div>
</body>
</html>

<style>
	.homepage-wrapper {
		color: #06b820;
		height: 89vh;
		width: 100vw;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.site-intro {
		color: #06b820;
		height: 100%;
		width: 75vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 5vh;
		padding-right: 20vw;
	}
	.site-intro p {
		font-family: plexsans;
		font-size: 1.3em;
		padding-right: 5vw;
	}
	h2 {
		margin: 0;
		font-family: ibm-term;
		font-size: 3.75em;
	}
	.menu {
		width: 25vw;
		height: 100%;
		font-family: plexsans;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
</style>