---
import Topmenu from '../components/Topmenu.astro';
import '../styles/fonts.css';
---

<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body style="height: 100vh; width: 100vw; margin: 0; padding: 0; background-color: white">
	<Topmenu></Topmenu>
	<div class="homepage-wrapper">
			<h1>Welcome to AP Computer Science Principles!</h1>
			<!--<p>
				Welcome to the class! This website will serve as a central repository for all course information and content. Here, you will be able to find upcoming events, tests, quizes, and due dates. This will also be where all notes, powerpoints, videos, and supplemental material will be stored. On this front page, important announcements will be posted.
			</p>-->
			<p>
				Enjoy OOP!
			</p>
	</div>
</body>
</html>

<style>
	.homepage-wrapper {
		color: #06b820;
		height: 89vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1 {
		margin: 0;
		font-family: ocra;
		font-size: 3em;
		font-weight: lighter;
		text-align: center;
		width: 85vw;
		margin-bottom: 3vh;
	}
	p {
		text-align: justify;
		font-family: plexsans;
		font-size: 1.75em;
		margin: 0 auto;
		width: 60vw;
	}
</style>
