---
const { cat, path, level } = Astro.props;
const data = await Astro.glob("../pages/**/*.md");
var posts = null;
if (level === "1") {
    posts = data.filter(post => post.frontmatter.l1Cat === cat)
} else if (level === "2") {
    posts = data.filter(post => post.frontmatter.l2Cat === cat)

} else if (level === "3"){
    posts = data.filter(post => post.frontmatter.l3Cat === cat)
} else {
    posts = [{frontmatter: {
            title: "No content"},
            url: '#'}]
};
---
<script>
</script>

<button id="button">{cat} <i class="fa fa-caret-down"></i></button>
<ul class="toggle-content" id="toggle">
    {posts.map((post) => (
      <li> 
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))}
</ul>

<style>
button {
    /*border-bottom: 0.25vh solid white !important;*/
    border: none;
    color: white;
    height: 4vh;
    font-family: inherit;
    text-align: left;
    background: none;
    font-size: 1em;
    width: 100%;
    padding-left: 0;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

li {
    font-family: inherit;
    font-size: 1em;
    margin-left: 10%;
}

a {
    text-decoration: underline;
    color: white;
}
img {
    color: white;
    height: 50%;
}
</style>