---
import '../styles/fonts.css';
---
    <ul class="fullmenu">
        <!--<li class="menuitem">
            <img src="" class="logo" />
        </li>-->
        <li class="title">
            <a href="/" class="menubar-head">AP Computer Science</a>
        </li>
        <!--<li class="menuitem dropdown">Mainframe
            <ul class="submenu">
                <li>IOCDS</li>
                <li><a href="/mainframe/test">Test</a></li>
            </ul>
        </li>-->
        <li class="menuitem"><a href="/coursework/course-home">Coursework</a></li>
        <!--<li class="menuitem"><a href="/calander">Upcoming events</a></li>-->
        <!--<li class="menuitem"><a href="/status">Systems status</a></li>-->
        <li class="menuitem"><a href="https://lms.apcsp.io">Canvas</a></li>
        <!--<li class="menuitem"><a href="/about">About</a></li>-->
    </ul>

<style>

.fullmenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 10vh;
    width: 100vw;
    background-color: white;
    color: #25b13a;
    border-bottom: .5vh solid #06b820;
}
.menubar-head  {
    font-family: ocra;
    font-size: 1.5em;
    font-weight: normal;
    padding-left: 1vw;
}
.title {
    margin-right: auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown ul {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 17vw;
    background-color: black;
    display: none;
    position: absolute;
    z-index: 1;
    border: 0.1em solid #25b13a;
    padding-top: 0.5vh;
}
.dropdown li{
    height: 2vw;
    text-align: left;
    width: 100%;
    color: #25b13a;
    margin-left: 0.25vw;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.menuitem {
 margin-right: 2vw;
 font-family: plexsans;
 font-size: 1.35em;
}

.dropdown:hover .submenu, .submenu:hover {
    display: block;
}
.fullmenu a {
    text-decoration: none;
    color: inherit;
}

</style>
