---
import '../styles/fonts.css';
---
<div class="fullmenu">
    <div class="center">
        <img src="" class="logo" />
        <h1>The Enterprise Lab</h1>
    </div>
    <div class="item-holder">
        <slot />
    </div>
</div>

<style>

.fullmenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 10vh;
    width: 100vw;
    border-bottom: 1vh solid #2ED124;
}
h1 {
    font-family: plexsans;
    margin-top: auto;
    margin-bottom: auto;
    color: #2ED124;
    padding-left: 1vw;
}
.center {
    width: 30%;
    height: 100%;
    display: flex;    
}
.logo {
    margin-top: auto;
    margin-bottom: auto;
}
.item-holder {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
</style>
